REPO_TAG=v3.2.1
INSTALL_DIR=/home/immich/immich
UPLOAD_DIR=/home/immich/data
# Available options for isCUDA: true (Nvidia), false (CPU), openvino (Intel), rocm (AMD)
isCUDA=rocm
PROXY_NPM=
PROXY_NPM_DIST=
PROXY_POETRY=